# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text eol=lf

* text=auto

# Code
*.html text
*.css text
*.less text
*.sass text
*.scss text
*.js text
*.json text
*.md text
*.svg text
*.sh text

# Graphics
*.gif binary
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary

# Fonts
*.woff binary
*.woff2 binary
